#my-name {
  color : red;
}

ul {
  color: blue;
}

.first-list {
  color: lime;
}

.location {
  color: purple;
}

.wanted-location {
  color: yellow;
}

.number-of-students {
  font-family: cursive;
  font-family: bold;
}
