#my-name {
  color : red;
}

ul {
  color: blue;
}

.first-list {
  color: lime;
}

.location {
  color: purple;
}

.wanted-location {
  color: yellow;
}

.number-of-students {
  font-weight: bold;
  font-style: italic;
}

.number-of-girls {
  color: #ffcce6;
}

.number-of-boys {
  color: #cce6ff;
}

#my-age {
  display: none;
}

.student-list {
  color: #663300;
}

section {
  color: (657, 455, 413);
}
